<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager<%= ' - ' + yield(:title) if content_for?(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:script) %>
  </head>

  <body>
    <header style="height: 1em; padding: 1em; margin-bottom: 1em; background: #0099CC;">
      Task Manager
      <% if session[:user_id].present? %>
        <span style="float: right;">
          User: <%= @username %> | <%= button_to('Logout', logout_path, {method: :delete}) %>
        </span>
      <% end %>
    </header>

    <div id="content" style="min-height: 400px;">
      <%= render(partial: 'layouts/flash') %>
      <%= yield %>
    </div>

    <footer style="height: 1em; padding: 1em; margin-top: 1em; background: #0099CC;">
      Copyright <%= Time.now.year %>
    </footer>

  </body>
</html>
