<%= link_to('Back to Menu', menu_path, class: 'back-link') %><br />

<div class="tasks index">
  <h2>Tasks</h2>

  <%= link_to("Add New Task", new_task_path, class: 'action new') %>

  <table class="listing" summary="Task list" style="width: 100%;">
    <tr class="header">
      <th>#</th>
      <th>Task</th>
      <th>Completed</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.position %></td>
      <td><%= task.name %></td>
      <td><%= task.completed? ? 'Yes' : 'No' %></td>
      <td><%= task.category&.name || '-' %></td>
      <td class="actions">
        <%= link_to("Show", task_path(task), class: 'action show') %>
        <%= link_to("Edit", edit_task_path(task), class: 'action edit') %>
        <%= link_to("Delete", delete_task_path(task), class: 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
