<%= link_to('Back to Menu', menu_path, class: 'back-link') %><br />

<div class="categories index">
  <h2>Categories</h2>

  <%= link_to("Add New Category", new_category_path, class: 'action new') %>

  <table class="listing" summary="Category list" style="width: 100%;">
    <tr class="header">
      <th>Category</th>
      <th>Tasks</th>
      <th>Actions</th>
    </tr>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.tasks.count %></td>
      <td class="actions">
        <%= link_to("Show", category_path(category), class: 'action show') %>
        <%= link_to("Edit", edit_category_path(category), class: 'action edit') %>
        <%= link_to("Delete", delete_category_path(category), class: 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
